<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Books</h1>
  </div>

  <div class="min-w-full">
    <%= render partial: "books/book", collection: @books %>
  </div>
</div>
