@layer components {
  .book-card {
    @apply flex m-8 overflow-hidden rounded-lg shadow-lg bg-zinc-50 h-80;
  }

  .book-cover {
    @apply relative m-0 overflow-hidden rounded-l-none w-60 shrink-0 rounded-xl bg-clip-border;
  }

  .card-title {
    @apply py-2 mx-auto text-xl font-bold text-pink-600;
  }

  .book-img {
    @apply h-full w-60;
  }

  .card-author {
    @apply py-2 mx-auto text-base font-semibold text-blue-800;
  }

  .card-isbn {
    @apply py-2 mx-auto text-xs;
  }

  .card-text {
    @apply  h-24 overflow-hidden overflow-ellipsis;
  }

  .card-button {
    @apply px-4 py-2 font-semibold text-white uppercase rounded-lg shadow-md focus:outline-none;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: none;
    transition: box-shadow 0.3s, transform 0.3s;
  }

  .card-button:hover {
    box-shadow: 0 0 10px #ff98ba, 0 0 20px #ff6e9f;
    transform: scale(1.05);
  }
}
